@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String, tasks: List[Task])
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Welcome to Play") {
    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    *@
    @* @play20.welcome(message, style = "Java") *@
    <ol>
    @for(task <- tasks) {
        <li>

        <form method="POST" action="@routes.HomeController.update(task.id)" style="display : inline">
            <input type="text" name="name" value="@task.name" required />
            <input type="submit" value="Update"/>

        </form>

        <form method="POST" action="@routes.HomeController.delete(task.id)" style="display : inline">

            <input type="submit" value="Delete"/>

        </form>

        </li> <br>
        }

    </ol>
    <form method="POST" action="@routes.HomeController.add()">
        <input type="text" name="name" required/>
        <input type="submit"/>

    </form>

}
